<div class="flex flex-col h-screen font-[Poppins] text-white Home">
  @if (data?.data?.header) {
  <div class="Home_Header">
    <img
      id="header.logo"
      class="w-[144px]"
      [src]="serverUrl + data.data.header.logo.url"
    />

    @if (data.data.header.button.label) {
    <button id="header.button" class="Home_Header_Button">
      {{ data.data.header.button.label }}
    </button>
    }
  </div>
  } @if (data?.data?.banner) {
  <div class="Home_Banner">
    <div class="Home_Banner__Wrapper">
      <img [src]="serverUrl + data.data.banner.image.url" alt="Banner" />
    </div>

    <div class="Home_Banner__Box">
      <img [src]="serverUrl + data.data.banner.logo.url" alt="Logo" />
      <h2 class="Home_Banner__Content_Title">{{ data.data.banner.header }}</h2>
      <p class="Home_Banner__Content_Description">
        {{ data.data.banner.description }}
      </p>
    </div>
  </div>
  }

  <!-- <app-slider [slides]="data?.data?.slider.slides"/> -->

  @if (data?.data?.tabs?.length) {
  <div class="Home_Tabs">
    <div class="Home_Tabs_Labels">
      @for (tab of data.data.tabs; track tab.id) {
      <div class="Home_Tabs_LabelItem" (click)="setActiveTab(tab?.id)">
        @if (this.activeTabId == tab.id) {
        <div class="active-tab">
          {{ tab.title }}
          <div class="active-tab_border"></div>
        </div>
        } @else {
        {{ tab.title }}
        }
      </div>
      }
    </div>

    <div class="Home_Tabs_Content">
      @for (tab of data.data.tabs; track tab.id) { @if (this.activeTabId ==
      tab.id) { @if (tab.blocks?.length) {
      <div class="Home_Tabs_Content_Blocks">
        @for (block of tab.blocks; track block.id) { @switch (block.__component)
        { @case ("blocks.card") {
        <div
          class="Home_Tabs_Content_Blocks_Card"
          [ngClass]="block.isReverse ? 'flex-row-reverse' : 'flex-row'"
        >
          <div class="Home_Tabs_Content_Blocks_Card_Text">
            <div class="Home_Tabs_Content_Blocks_Card_Title">
              {{ block.title }}
            </div>
            <div class="Home_Tabs_Content_Blocks_Card_Description">
              {{ block.description }}
            </div>
          </div>

          <img
            class="Home_Tabs_Content_Blocks_Card_Image"
            [src]="serverUrl + block.image.url"
          />
        </div>
        } } }
      </div>
      } } }
    </div>
  </div>
  } @if (data?.data?.footer) {
  <div id="footer" class="Home_Footer">
    <img
      id="footer.logo"
      class="w-[144px]"
      [src]="serverUrl + data.data.footer.logo.url"
    />

    @if (data.data.footer.contactInfo.contacts.length) {
    <div class="Home_Footer__Box flex flex-col gap-[10px]">
      @if (data.data.footer.contactInfo.title) {
      <div
        id="footer.contactInfo.title"
        class="text-[20px] text-right font-semibold"
      >
        {{ data.data.footer.contactInfo.title }}
      </div>
      }
      <div class="flex flex-row gap-[30px]">
        @for (contact of data.data.footer.contactInfo.contacts; track
        contact.id) {
        <a [href]="contact.href" target="blank">
          <div class="flex flex-row gap-x-[9px]">
            @if (contact.icon) {
            <img
              id="footer.contactInfo.contact.icon"
              [src]="serverUrl + contact.icon.url"
            />
            }

            <div
              id="footer.contactInfo.contact.text"
              class="text-[15px] whitespace-nowrap"
            >
              {{ contact.text }}
            </div>
          </div>
        </a>
        }
      </div>
    </div>
    }
  </div>
  }
</div>
