/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-button: oklch(0.6539 0.1707 130.93);
  --color-header-border: oklch(0.4407 0.0079 17.46);
  --color-tab-bg: oklch(0.1825 0.003 17.34);
  --color-tab-selected: oklch(0.6683 0.1293 237.53);
  --color-tab-selected-bg: oklch(0 0 0);
  --color-timeline-ball: oklch(0.6376 0.1952 35.49);
}

body {
  @apply bg-black overflow-x-hidden;
}
